desktop.ini
*.DM
*.HSX
*.ORB_INDX
*.ion
*.ion.xml
*.ion.nc
*.psml
INPUT_TMP.*
fdf.*.log
NON_TRIMMED_KP_LIST
PARALLEL_DIST
CLOCK
MESSAGES
0_NORMAL_EXIT
mos2.alloc
mos2.BASIS_ENTHALPY
mos2.BONDS
mos2.BONDS_FINAL
